@font-face {
    font-family: 'Ming';
    src: url('../Ming.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Biohazard';
    src: url('Biohazard.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  background: #250e25;
}

h1 {
  color: #d3d3d3;
  font-size: 70px;
  text-align: center;
}

p {
  color: gray;
}
